{{ define "main" }}
<div class="p-5 mb-4 text-bg-dark">
  <div class="py-2 container">
    <h2>{{.Title}}</h2>
  </div>
</div>
<div class="container py-4">
  {{ .Content }}
  <div class="list-group">
    {{ range $index, $section := .Pages }}
    <a href="{{.Permalink}}" class="list-group-item list-group-item-action gap-3 py-3">
      <h4>{{.Title}}</h4>
      {{/* <p>{{.Summary | truncate 200}}</p> */}}
      {{/* <a class="btn btn-outline-secondary" type="button" href="{{.Permalink}}">{{i18n "readNow" }}</a> */}}
    </a>
    {{ end }}
  </div>
</div>
{{ end }}