<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <div class="collapse navbar-collapse py-2" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">আইটি</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">উইন্ডোজ সেটআপ</a></li>
            <li><a class="dropdown-item" href="#">ডাটা রিকোভারি</a></li>
            <li><a class="dropdown-item" href="#">লিনাক্স সেটআপ</a></li>
            <li><a class="dropdown-item" href="#">ফোন আনলক/এফআরপি বাইপাস</a></li>
            <li><a class="dropdown-item" href="#">কম্পিউটার ট্রেনিং</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">এনআইডি/ভোটার</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/nid/new/">নতুন ভোটার আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/transfer/">ভোটার স্থানান্তর আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার স্লিপ</a></li>
            <li><a class="dropdown-item" href="/nid/">স্থায়ী ঠিকানা সংশোধন আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">মৃত ভোটার সক্রিয় আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার তালিকা</a></li>
            <li><a class="dropdown-item" href="/nid/">NID ছবি ও স্বাক্ষর পরিবর্তন</a></li>
            <li><a class="dropdown-item" href="/nid/">দ্বৈত ভোটার কর্তন</a></li>
            <li><a class="dropdown-item" href="/nid/">AFIS ম্যাচিং আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">NID সংশোধন আবেদন বাতিল</a></li>
            <li><a class="dropdown-item" href="/nid/">রিইস্যু</a></li>
            <li><a class="dropdown-item" href="/nid/">উত্তোলন</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার নং</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার স্থানান্তর যাচাই</a></li>
            <li><a class="dropdown-item" href="/nid/">পুরাতন NID Number সংগ্রহ</a></li>
            <li><a class="dropdown-item" href="/nid/">স্মার্ট NID Number সংগ্রহ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">জন্ম/মৃত্যু নিবন্ধন</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/nid/new/">নতুন জন্ম নিবন্ধন আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/transfer/">সংশোধন</a></li>
            <li><a class="dropdown-item" href="/nid/">বয়স সংশোধন</a></li>
            <li><a class="dropdown-item" href="/nid/">স্থায়ী ঠিকানা সংশোধন</a></li>
            <li><a class="dropdown-item" href="/nid/">মৃত ভোটার সক্রিয় আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার তালিকা</a></li>
            <li><a class="dropdown-item" href="/nid/">NID ছবি ও স্বাক্ষর পরিবর্তন</a></li>
            <li><a class="dropdown-item" href="/nid/">দ্বৈত ভোটার কর্তন</a></li>
            <li><a class="dropdown-item" href="/nid/">AFIS ম্যাচিং আবেদন</a></li>
            <li><a class="dropdown-item" href="/nid/">NID সংশোধন আবেদন বাতিল</a></li>
            <li><a class="dropdown-item" href="/nid/">রিইস্যু</a></li>
            <li><a class="dropdown-item" href="/nid/">উত্তোলন</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার নং</a></li>
            <li><a class="dropdown-item" href="/nid/">ভোটার স্থানান্তর যাচাই</a></li>
            <li><a class="dropdown-item" href="/nid/">পুরাতন NID Number সংগ্রহ</a></li>
            <li><a class="dropdown-item" href="/nid/">স্মার্ট NID Number সংগ্রহ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">অন্যান্য</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">পাসপোর্ট</a></li>
            <li><a class="dropdown-item" href="#">ভিসা</a></li>
            <li><a class="dropdown-item" href="#">টিন/ট্যাক্স রিটার্ন</a></li>
            <li><a class="dropdown-item" href="#">ড্রাইভিং লাইসেন্স</a></li>
            <li><a class="dropdown-item" href="#">জিডি/পুলিশ ক্লিয়ারেন্স</a></li>
            <li><a class="dropdown-item" href="#">জমির পর্চা/খতিয়ান/খাজনা/নামজারি/কর</a></li>
            <li><a class="dropdown-item" href="#">বিএমইটি/পিডিও/ম্যানপাওয়ার</a></li>
            <li><a class="dropdown-item" href="#">চাকরির আবেদন</a></li>
          </ul>
        </li>
        {{/* <li class="nav-item">
          <a class="nav-link" href="/services" role="button">
            সকল সেবা
          </a>
        </li> */}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">ডাউনলোড</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ওয়ার্ড/ডক্স</a></li>
            <li><a class="dropdown-item" href="#">শীট/এক্সেল</a></li>
            <li><a class="dropdown-item" href="#">এআই</a></li>
            <li><a class="dropdown-item" href="#">ফটোশপ</a></li>
            <li><a class="dropdown-item" href="#">ইঙ্কস্কেপ</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>